# Open Street Map Study: Durban

## Map Area

I chose to investigate the greater Durban (South Africa) area, as that is where I grew up and I was interested to see what, if anything, was in the Open Street Map library.

https://www.openstreetmap.org/node/27564996

https://en.wikipedia.org/wiki/Durban

# Main Problems

The main problem that I identified was a lack of data! Durban is the third largest city in South Africa. Given that South Africa is not a western country, I anticipated that there may not be as much awareness around the Open Street Map project. From my sample map and in terms of cleaning, I sought out the correct four issues:

- #### Errors in Street Names

As in the preamble to this project, there were various abbreviations or misspellings of street names. For example 'Rd' instead of 'Road' or 'Cresent' instead of 'Crescent'
- #### Multiple Sport Categories

I found that several of the sports amenities had similar sport definitions and decided to homogenise this. For example there were tags with values 'canoe' and canoeing'
- #### Missing Postcodes

There were not many postcodes in the data set. This is partially because postcodes are not as important in South Africa as they are in typical western countries like the UK or US. Postcodes are allocated to an "area" (which in itself is defined vaguely but is typically a suburb in a city) however the name of the area is more important in the postal system than the postcode number. Postcodes may (but not definitely) refer to the type of address - for example a physical address or post box. Most South Africans get post delivered to a rented PO Box, post office or some other designated drop off point. To make matters worse, there is no outlined map of these postal "areas" but is determined by local knowledge! To try flesh out the missing data, I decided to add postcodes to node tags that had a designated suburb (further details below)

- #### Oneway way tags with value other than 'Yes' or 'No'
Some way tags had a oneway designation of '-1' so reclassified these as 'unclassified'

### Errors in Street Names

Because there was not too much data, I decided to check the street names against a pre-defined list and then use a dictionary to map incorrect values to correct ones. I also decided to run the function before the tag was added to the tag dictionery so this function works for one tag. I used a try and except to catch any street names that were not cleaned and printed a warning statement. The function is found in the clean_functions file.

In [2]:
expected_names = ["Street", "Avenue", "Drive", "Court", "Place", "Lane", "Road", "Parkway", 'Parade', 'Way','Terrace',
'Crescent', 'Grove','Centre','Close', 'Hill','walworth','Salmon','Damba','Marlyn','Garrick','Shad','Mews']

mapping= {'Rd':'Road','Cresent':'Crescent'}

def clean_street_names(tag, expected_names, mapping):
    """function that takes a dictionary of tags and cleans street names according to the mapping supplied.
    Returns corrected tag_dict.
    tag - dict of tags - must be labelled with key and value
    expected_names - list of names that are accepted
    mapping - dict of erroneous names and corrections"""
    if tag['key'] == 'street':
        street_type = (str(tag['value']).split(' '))[-1]
        if street_type not in expected_names:
            try:
                new_name = tag['value'].replace(street_type,mapping[street_type])
                tag['value'] = new_name
            except(KeyError):
                print(street_type + ' NOT CLEANED')
    return tag

In the end, it was more a matter of adding values that I had not expected (for example 'Garrick') to the expected_names than changing values. This is because some streets in central Durban are called by the associated area ('Garrick') rather than 'Street' or 'Road'

### Multiple Sports Categories

I used a similar strategy as above - prefering to check is values complied with an expected set of values and then using a dictionery to map incorrect values to correct ones. This function is also stored in the helper_function file

In [3]:
mapping_sports = {'field_hockey':'hockey','skateboard':'skating','rugby_league':'rugby','rugby_union':'rugby',
'long_jumpMoses Mabhida Stadium':'long_jump','canoe':'canoeing','multi':'multiple','Salmon':'fishing','Shad':'fishing',
'squash;indor_pool':'multi','rc_car':'driving'}

expected_sports = ['baseball','basketball','bowls', 'canoeing','cricket', 'cycling', 'golf', 'Gym', 'hockey', 'horse_racing',
'long_jump', 'netball', 'rugby', 'running','skating', 'soccer', 'surfing', 'swimming', 'tennis','volleyball','weightlifting',
'fishing']

This worked relatively smoothly given I had ironed out the creases of the function when developing it for the street names. The biggest issue I had with the overall process was working with encoded types - this meant I constently had to be cleaning my variables from an encoded type to int or float.

### Missing Postcodes

As I detailed above, there was not many postcodes in the dataset. I decided to flesh this out by adding postcodes to node tags that had a suburb. This did mean trusting that the suburbs were correct so I only used added postcodes to suburbs I was sure were within the greater Durban area.

The first step was to build a dictionery  of trusted suburb/postcode key value pairs. I copied the html from the south african postal web service for looking up postcodes (so that I could add the file for my submission) and used Beautiful Soup to parse over the data and create a suburb-postcode dictionery - in the mapping file. After my first run of this, I realised I would need to add the postcodes for some of the surrounding areas, such as Westville. Durban has suffered extensive "city creep" over the last 20 years and so some areas that were once (when postcodes were allocated) considered seperate villages, are now part of the greater Durban area. I also know that all postcodes should start with a 40 or 36 so this helped me visually verify that the dictionery I created was not full of incorrect information.

When I ran this to catch suburbs that were not on the list, I realised that some of the suburbs were indeed incorrect! Some belonged in Johannesburg and some neither me nor Google had heard of. Whilst it would have been ideal to clean these incorrect ones out, this seemed like a manual job as one would need a verified list of all areas in Durban, which to my knowledge does not exist online. For the purposes of adding in postcodes, I was satisfied that because I had pulled postcodes from the post office site that specified the city to be "Durban", I was at least not adding postcodes to only validified areas.

I ran a query on the database before I cleaned it which showed there were 51 postcode tags in the nodes_tag table

In [ ]:
SQL_postcode_tag="""
SELECT count(*) FROM nodes_tags
WHERE key = 'postcode';
"""

After adding the extra postcodes there were 141 postcode tages in the nodes_tags table

### Oneway tags

Several of the one way tags had the value '-1' so I changed these to 'unclassified.' THis function can be found in the clean functions file.

In [ ]:
def clean_oneway(tag):
    expected_names = ['yes','no']
    if tag['key'] == 'oneway':
        oneway_type = str(tag['value'])
        if oneway_type not in expected_names:
            tag['value'] = 'unclassified'
    return tag

# Data Overview

This contains the basic queries requested for the project

### File Size

In [25]:
import os
import sqlite3
import pandas as pd
print('map.osm size = ' +str(int(os.stat('map').st_size/1024/1024)) + 'MB')
print('nodes.csv size = ' +str(int(os.stat('nodes.csv').st_size/1024/1024)) + 'MB')
print('nodes_tags.osm size = ' +str(int(os.stat('nodes_tags.csv').st_size/1024/1024)) + 'MB')
print('ways.osm size = ' +str(int(os.stat('ways.csv').st_size/1024/1024)) + 'MB')
print('ways_tags.osm size = ' +str(int(os.stat('ways_tags.csv').st_size/1024/1024)) + 'MB')

map.osm size = 54MB
nodes.csv size = 27MB
nodes_tags.osm size = 0MB
ways.osm size = 2MB
ways_tags.osm size = 3MB

### Number of Unique Users

In [29]:
SQL_unique_users = """
SELECT a.user, count(a.uid) from 
(SELECT uid, user from nodes UNION ALL SELECT uid, user from ways) a
GROUP BY a.uid;
"""
db = sqlite3.connect("C:/Users/butte/Documents/Udacity/P3/Project/DB.db")
c = db.cursor()
c.execute(SQL_unique_users)
rows = c.fetchall()
df = pd.DataFrame(rows)
print(df)
db.close()

                             0      1
0                     NicRoets    420
1                        Latze   8880
2                    Firefishy  60834
3    Coastline Southern Africa     41
4                     woodpeck      3
5                    user_5359    115
6                 Adrian Frith  23945
7                    Ignobilis  13311
8                    Rob Hooft      4
9                         ulfl      4
10            milovanderlinden     12
11               thebigfatgeek      1
12              Russell Cloran   1111
13          Hartmut Holzgraefe      6
14                      sissou     63
15                      zorque     16
16                     Peter14      3
17                   vanagaudi    425
18                   katpatuka     56
19             Hobby Navigator      2
20                        Loth     38
21                   titanbeos    112
22                        AE35      1
23                        Head      3
24                        csdf     20
25                       Michi      9
26                     wieland      1
27                     Andre68      2
28                    Tinshack      8
29                     zenfunk     46
..                         ...    ...
274                    Ruben S      2
275             Jordan Lessing     25
276            Tyreese Cassidy      6
277                 taliaemily      9
278              Shardyn Rocha      6
279             Toriso Rajoale     18
280                 Kyla Quinn      5
281                     Nelisa      6
282           "Bianca O'Neill"      1
283                  sarahhead      1
284                    Farkad5     28
285                    ajay786      3
286                MarttiVaali    212
287                      oslim     96
288                   cakesale     12
289                 Parmiggano     14
290                   yuvi3000   4277
291                 Goldust321   8487
292                    geniebs     93
293             Ziegfried John     12
294                 marc__marc      1
295                   Zebranky      7
296                     VikRik      2
297             Akshay Hansraj      4
298                  Scorpio20     82
299                Nora Claeys      1
300                     Musa K      2
301                  mosankomo      1
302                     ZAJono   1236
303                CalvinJames     19

[304 rows x 2 columns]

This shows that not only are there 304 unique contributers to the Durban Open Street Map but also gives you an idea for who they are.

### Number of Nodes and Ways

In [31]:
SQL_number_nodes = """
SELECT count(*) from nodes_tags;
"""
SQL_number_ways = """
SELECT count(id) from ways;
"""
db = sqlite3.connect("C:/Users/butte/Documents/Udacity/P3/Project/DB.db")
c = db.cursor()
c.execute(SQL_number_nodes)
rows = c.fetchall()
df = pd.DataFrame(rows)
print(df)
c.execute(SQL_number_ways)
rows = c.fetchall()
df = pd.DataFrame(rows)
print(df)
db.close()

       0
0  18561
       0
0  27751

This shows there are 18,561 nodes in the dataset and 27,751 ways

### Number of Node Types

In [32]:
SQL_unique_node_types = """
SELECT key, count(key) from nodes_tags
GROUP BY key
ORDER BY count(key) DESC;
"""
db = sqlite3.connect("C:/Users/butte/Documents/Udacity/P3/Project/DB.db")
c = db.cursor()
c.execute(SQL_unique_node_types)
rows = c.fetchall()
df = pd.DataFrame(rows)
print(df)
db.close()

                  0     1
0            source  8591
1        created_by  3358
2              name  1184
3             power  1178
4           highway   708
5           amenity   505
6              shop   386
7           railway   184
8             light   174
9             place   166
10         sagns_id   146
11            is_in   145
12         postcode   141
13           street   107
14           noexit    96
15      housenumber    93
16              ref    73
17             type    71
18         crossing    68
19          cuisine    63
20          barrier    60
21            layer    60
22             city    53
23          tourism    53
24     buoy_lateral    52
25   beacon_lateral    44
26          leisure    42
27        direction    39
28          website    33
29               en    32
..              ...   ...
117     flood_prone     1
118      government     1
119              hi     1
120            iata     1
121            icao     1
122              kn     1
123          levels     1
124             lit     1
125        litecoin     1
126        loc_name     1
127            male     1
128              mr     1
129        old_iata     1
130        old_icao     1
131       personnel     1
132      population     1
133              ru     1
134           sacaa     1
135   service_times     1
136          shower     1
137              sr     1
138           stars     1
139      start_date     1
140      substation     1
141      supervised     1
142              te     1
143         topmark     1
144            town     1
145         twitter     1
146              zu     1

[147 rows x 2 columns]

# Additional Queries

Here, I look into a few queries of my own

### Number of Repeat Contributers

I am interested how many of the 304 unique contributers, are "repeat customers"? For the sake of this analysis i have defined a repeat contributer as someone who has contributed more than 10 nodes or tags

In [33]:
SQL_repeat_contributers = """
SELECT a.uid, a.user, count(*) as num from
(SELECT user, uid FROM nodes UNION ALL SELECT user, uid FROM ways) a
GROUP BY a.uid
HAVING num > 10
"""

db = sqlite3.connect("C:/Users/butte/Documents/Udacity/P3/Project/DB.db")
c = db.cursor()
c.execute(SQL_repeat_contributers)
rows = c.fetchall()
df = pd.DataFrame(rows)
print(df)
db.close()

           0                          1      2
0       1186                   NicRoets    420
1       2318                      Latze   8880
2       3560                  Firefishy  60834
3       4430  Coastline Southern Africa     41
4       5359                  user_5359    115
5       5616               Adrian Frith  23945
6       6180                  Ignobilis  13311
7       7702           milovanderlinden     12
8      11991             Russell Cloran   1111
9      13303                     sissou     63
10     13445                     zorque     16
11     15628                  vanagaudi    425
12     17497                  katpatuka     56
13     20938                       Loth     38
14     21258                  titanbeos    112
15     28794                       csdf     20
16     33589                    zenfunk     46
17     37024                  Ryan Peel  98039
18     42123                     Ropino   2805
19     42429                      42429   1205
20     44659               Phil Shipley    121
21     49317                     Gary68     13
22     51045                    Geogast     49
23     55938                     Kleper     24
24     68661            PeetTheEngineer    989
25     72235                Basstoelpel     22
26     78656      Walter Schl\xc3\xb6gl     14
27     89943                  Bengatzer    638
28     94578                    andygol    156
29     96794                     mycrow     12
..       ...                        ...    ...
126  6559522                      Yanke     29
127  6559523                 Emma Beket     45
128  6559526               Kelsi Naidoo     55
129  6559534             JordynAshYoung     16
130  6559535         Alyssa Christopher     15
131  6559536             Dheeya Nirghin     37
132  6559537             Khwezi Mbongwe     16
133  6559546                   Thashmil     16
134  6559562                  Sinqobile     32
135  6565901                    TDF Fan     11
136  6571196                   Far-away     94
137  6571204               Amy du Plooy     73
138  6571205                 Varini0206     50
139  6571207                   carliyah     20
140  6571209                   PhumezaB     47
141  6571218                     nishjo     94
142  6576479             Jordan Lessing     25
143  6576516             Toriso Rajoale     18
144  6782481                    Farkad5     28
145  6950277                MarttiVaali    212
146  7079916                      oslim     96
147  7112980                   cakesale     12
148  7114347                 Parmiggano     14
149  7121838                   yuvi3000   4277
150  7153495                 Goldust321   8487
151  7154205                    geniebs     93
152  7169756             Ziegfried John     12
153  7572732                  Scorpio20     82
154  7698261                     ZAJono   1236
155  7749087                CalvinJames     19

[156 rows x 3 columns]

There are 156 "repeat contributer" - which is more than half of the 304 unique users, so this shows a small but dedicated force of people improving Open Street Maps for Durban

### Top 3 Sports

Given that I tidied the sports data I am interested as to the most popular sport in Durban

In [35]:
SQL_top3_sport = """
SELECT a.value, count(a.value) from
(SELECT value, key FROM nodes_tags UNION ALL SELECT value, key FROM ways_tags) a
WHERE a.key = 'sport'
GROUP BY a.value
ORDER BY count(a.value) DESC
LIMIT 3;
"""

db = sqlite3.connect("C:/Users/butte/Documents/Udacity/P3/Project/DB.db")
c = db.cursor()
c.execute(SQL_top3_sport)
rows = c.fetchall()
df = pd.DataFrame(rows)
print(df)
db.close()

          0   1
0    tennis  77
1    soccer  21
2  swimming  18

Tennis is not what I would have guessed but when I think about it, there are quite a few tennis courts around. Tennis courts also serve less people than a soccer pitch, so that could contribute.

### Popular Shops

What are the most popular shop types in Durban?

In [37]:
SQL_popular_shop = """
SELECT a.value, count(a.value) from
(SELECT * FROM nodes_tags UNION ALL SELECT * FROM ways_tags) a
WHERE a.key = 'shop'
GROUP BY a.value
ORDER by count(a.value) DESC
LIMIT 10
"""
db = sqlite3.connect("C:/Users/butte/Documents/Udacity/P3/Project/DB.db")
c = db.cursor()
c.execute(SQL_popular_shop)
rows = c.fetchall()
df = pd.DataFrame(rows)
print(df)
db.close()

              0    1
0       clothes  101
1   supermarket   84
2          mall   31
3   convenience   17
4       jewelry   16
5  doityourself   14
6   hairdresser   14
7         shoes   11
8           car   10
9       alcohol    7

That result is not surprising! The most popular shop is clothing shops and then supermarkets. This makes sense as all people need clothes and food.

### Popular Cuisines

What are the most popular cuisines in Durban?

In [38]:
SQL_popular_cuisines = """
SELECT a.value, count(a.value) as num from
(SELECT * FROM nodes_tags UNION ALL SELECT * FROM ways_tags) a
WHERE a.key = 'cuisine'
GROUP BY a.value
HAVING num > 1
ORDER by count(a.value) DESC;
"""
db = sqlite3.connect("C:/Users/butte/Documents/Udacity/P3/Project/DB.db")
c = db.cursor()
c.execute(SQL_popular_cuisines)
rows = c.fetchall()
df = pd.DataFrame(rows)
print(df)
db.close()

                0   1
0         chicken  15
1          burger  12
2           pizza  12
3         italian   5
4          indian   4
5            fish   2
6  fish_and_chips   2
7        regional   2
8         seafood   2

Again - I am not surprise chicken is the most popular although there does not seem to be many reference points

### Rail Types

Lastly, when I was looking at the Ways Tags table, I noticed that a fair amount of the ways were classified as rail. Given that rail is not a popular form of transport in Durban I was keen to see what types rail tags these are

In [39]:
SQL_rail_types = """
SELECT value, count(value) FROM ways_tags
WHERE key = 'railway'
GROUP BY value
ORDER BY count(value) DESC;
"""
db = sqlite3.connect("C:/Users/butte/Documents/Udacity/P3/Project/DB.db")
c = db.cursor()
c.execute(SQL_rail_types)
rows = c.fetchall()
df = pd.DataFrame(rows)
print(df)
db.close()

            0     1
0        rail  2106
1    platform    92
2   abandoned    10
3     disused     8
4   preserved     7
5  light_rail     1
6   turntable     1

This shows that most are just rails but some are disused and some are platforms. This proves that you can still learn things about your hometown!

# Additional Ideas and Improvements

I would say the single biggest improvement would be to add more data! The sample project for Charlottesville had almost 1.5 million nodes in comparison to Durban's 19k. More data would allow more robust analysis which could even be used in town planning if it were good enough.

- only 107 out of 18.5k nodes tags had a street address
- only 79 out of 78k ways tags had a street address

One of the biggest issues with adding street name data (or any data) is the constantly evolving nature of Durban. The city is still new and growing and so unlike many Western cities, things change quickly. For example, in the last 15 years, a majority of the major roads in Durban changed names to get rid of old colonial and apartheid glorification. The informal sector plays a big role in the economy of South Africa as a whole and so the layout of the city can change in a relatively short time span.

Another issue is accessibility - internet access is not a given in South Africa as it is in some countries and can be costly. So for the people who know Durban the best, this can hinder their desire to use precious money for an open source project.

# References

https://en.wikipedia.org/wiki/Durban


http://www.sapostalcodes.info/queryPostalCode.php?input_city=durban

http://stackoverflow.com